body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

 /* Menu */
.menu li{
  float: right;
  display: block;
  margin: 0 -1px;
  margin-top: -22px;
}
.menu a{
  font-size: 18px;
  text-decoration: none;
  color: black;
  display: block;
  position: relative;
  padding-bottom: 3px;
}

.menu a::before{
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  transition: 1.0s transform ease;
  transform: scale3d(0,1,1);
  transform-origin: 0 50%;
}

.menu{
  padding: 25px 20px;
  font-family:'Open Sans Condensed', sans-serif;
}

.menu a::before{
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #fff;
  transition: 1.0s transform ease;
  transform: scale3d(0,1,1);
  transform-origin: 0 50%;
}
.menu a:hover::before{
  transform: scale3d(1,1,1);
  transform-origin: 50% 50%;
  background: #8642d2;
}

/* Estilos de Textos */
.texto-1{
    color: #6b6969;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}

h1{
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
}

h2{
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
}

h3{
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

span{
  color: #8642d2;
}

/* ¡Supérate! Emprende (JoyBrace)*/
 .joybrace {
      display: grid;
      grid-template-columns: 40% 60%;
      height: 500px;
      background-color: #DBD9D9;
    }

#joybrace-fondo {
  background-color:#636063;
}

.joybrace-item {
  display: flex;
}

.joybrace-item2{
  width: 1000px;
  background-color: #DBD9D9;
}

.joybrace-texto{
  margin-left: 12%;
  margin-right: 30%;
  margin-top: 10% ;
  text-align: justify;
}

.joybrace-item .circulos {
  display: block;
  margin-top: 28%;
  margin-left: 10%;
}

.circulo {
  width: 60px;
  height: 60px;
  margin: 10px;
  border-radius: 50%;
  background-color: #4b494b;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.circulo:hover {
  background-color: #6B06D1;
}

i {
  color: white;
}

.joybrace-img {
  margin-top: 6%;
  margin-left: 10%;
  width: 480px;
  height: 350px;
  position: absolute;
  overflow: hidden;
  border-radius: 10px;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.joybrace-img img ,
.joybrace-img video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.4s ease-in-out;
}

.emprende{
  display: grid;
  grid-template-columns: 33% 33% 33%;
  margin: 10%;
}

.emprende-item{
  margin: 5%;
  width: 350px;
  height: 280px;
  text-align: justify;
}

#emprende-fondo{
  background-color: #DBD9D9;
}

.emprende-texto{
  height: 300px;
  padding: 5%;
  justify-content: center;
  align-items: center;
}

.circulos{
  display: flex;
  width:100%;
  margin-top: 15px;
  justify-content: center;
  margin: 10px;
}

.circulo{
  height: 60px;
  width: 60px;
  border-radius: 100%;
  background-color: #8642d2;
}

.circulo img{
  height: 60px;
  width: 60px;
}

.emprende-texto .circulos{
  display: flex;
  width:100%;
  margin-top: 15px;
  justify-content: center;
  margin-left: -1%;
}
/* Shark Tank */
.shark-texto{
  text-align: center;
}

.shark-tank{
  width: 100%;
  height: 600px;
  text-align: center;
  display: flex;

}

.shark-tank-item1{
  width: 900px;
  margin: 2%;
  margin-left: 5%;
}

.shark-izq{
  margin: 6%;
  width: 40%;
  margin-top: -2px;
  text-align: justify;
}

.shark-img{
  height: 270px;
  
}

#shark-dron{
  border: 2px solid #8642d2;
  background-image: url('https://uploads.onecompiler.io/43z6yf5qc/44222uyhs/solar-search%20(3).png');
}

.shark-logos{
  height: 180px;
  margin-top: -3%;
  padding-top: 1% ;
  background-color:#C7BFC7; 
}

.shark-logos .circulos{
  justify-content: center;
}

#shark-fondo{
  position: relative;
  background-image: url('https://uploads.onecompiler.io/43z6yf5qc/44222uyhs/solar-search%20(1).png')

}

.shark-box{
  background-color: white;
  top: 30px;  
  left: 50%; 
  width: 320px;
  height: 170px;
  position: absolute;
  padding: 2%;
  text-align: justify;
}

.shark-box hr{
  justify-content: center;
  margin-top: 20px;
  width: 250px;
  background-color: #8642d2;
  border-color: #8642d2;
}

.shark-box h3{
  margin-top: -1% ;
}

.shark-tank-item2{
  width: 40%;
  height: 360px;
  margin-left: -5%;
  margin-top: 10% ;
  padding: 2%;
  padding-top: 3% ;
  border-radius: 2%;
  background-color: #DBD8D9;
  position: relative;
  text-align: justify;
}

.shark-tank-item2 i{
  color: #636063;
}

#i-morado{
  color: #8642d2;
  margin-left: 12% ;
}

#texto-dron{
  margin-left: 10% ;
  align-items: center;
}

.shark-box h3{
  text-align: center;
}

ul{
  list-style: none;
  display:  flex;
  margin-left: 5%;
  margin-top: 5% ;
  text-align: center;
}

li{
  padding: 2%;
}

ul a{
  padding-top: 3% ;
}

/* Más proyectos */
.proyectos{
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 3%;
  margin-bottom: 10%;
}

.proyecto-titulo{
  width: 100%;
  text-align: center;
  margin-top: 15%;
  font-weight: bold;
}

.proyecto-titulo h1{
  margin-top: -2px;
  font-size: 35px;
}

.proyecto-titulo a{
  font-size: 25px;
}

.proyecto-item{
  display: flex;
  flex-direction: column;
  align-items: center;  
  justify-content: center;
  width: 300px;
  height: 420px;
  margin: 1%;
  border-radius: 5%;
  padding: 2%;
  background: linear-gradient(to bottom, black, #333, #45484a);
  transition: transform 0.3s ease; 
}

.proyecto-item a{
  text-align: justify;
}

.proyecto-img{
  width: 260px;
  height: 190px;
}

.proyecto-img:hover{
  transform: scale(1.1);
}

#proyecto-abajo{
  margin-top: 5%;
  background: #DBD9D9 !important;
}

#texto-blanco{
  color: white;
}

/* Footer */
footer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 230px;
  background:  #1A1A1A;
  margin-bottom: -5% !important;
}

.footer-seccion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  color: #E6DDD8;
  width: 33%;
}

.footer-seccion p, i{
  color: #E6DDD8 !important;
  font-family: Arial;
}

.footer-seccion img{
  height: 100px;
}

.redes-sociales{
  display: flex;
  justify-content: center;
}

.redes-sociales img{
  height: 40px;
  width: 40px;
  padding: 4%;
}

.redes-sociales a{
  padding: 5%;
}